/* Shared code part  */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;

}

.light-gray-description{
    color: #534C64;
    font-size: 0.80rem;
    font-weight: 400;  
}


/* header section start */

/* nav part */



.header-section{
    background-color: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    padding: 20px 200px;

}



.nav-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1440px;
    min-height: 50px;
}

.logo-container{
    display: flex;
    align-items: center;
    justify-content: center;
    /* width: 50%; */

}

.logo-container img{
    object-fit: cover;
    width: 60.041px;
  
}

.logo-container p{
    text-align: center;
    font-size: 2.8rem;
    font-weight: 700;
    }




.nav-items-container{
    /* width: 50%; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

 .g{
    color: #FF42A5;
}

.nav-items-container li{
    list-style: none;

}

.nav-items-container li a{
    text-decoration: none;
    color: #3C354F;
    text-align: center;
    font-size: 1rem;
    font-weight: 500;

}

.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background-color: rgba(11, 2, 35, 0.10);
    margin: 8px;
    padding: 8px 5px;
    
}

.icon svg{
    padding: 5px;
    margin-top: 5px;
    
}


/* Banner section start */ 

.icon-img{
    display: flex;
    justify-content: center;
    margin: 20px;
    
   
}

.banner-section{
    min-height: 468px;


}

.banner-container{
    display: flex;
    align-items: center;
    min-height: 200px;
    margin: 0 auto;
    max-width: 1440px;
    
}

.banner-text{
    width: 50%;
    text-align: center;
    padding: 80px 80px;
    background-image: url(./images/Group\ 14.png);
    background-repeat: no-repeat;
    background-position: left bottom top;
    background-size: 100%;
    background-position: left;
    /* border: 2px solid green; */
}


.banner-image{
    width: 50%;
}

.banner-image img{
    width: 70%;
    height: 100%;
    display: block;
    margin: 0 auto;
}


.banner-title{
    color: #0B0223;
    text-align: center;
    font-size: 2.4rem;
    font-weight: 600;
    text-transform: uppercase;

}


.banner-title-two{
    text-align: center;
    font-size: 5rem;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.icon-text{
    color: #534C64;
    text-align: center;
    font-size: 0.7rem;
    font-weight: 500;
    text-transform: lowercase;
    }


.sign-btn, .go-btn{
    display: inline-flex;
    padding: 11px 31px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 48px;
    background-color: #FF42A5;
    color: #FFF;
    font-size: 0.80rem;
    font-weight: 600;


}

.go-btn{
   
    background-color: #4EC5F7;
}






/* Banner section stop*/


/* header section stop */

















/* main part start */

/* We are gamer section start */



.we-are-gamer-section{
    min-height: 500px;
    background-color: rgba(255, 66, 165, 0.03);


}

.we-are-gamer-container{
    display: flex;
    align-items: center;
    min-height: 500px;
    margin: 0 auto;
    max-width: 1440px;
    justify-content: center;
}

.we-are-gamer-text{
    width: 50%;
    padding-left: 50px;
    padding-right: 103px;
    text-align:right;  
    /* border: 2px solid crimson;  */
  
}

.we-are-gamer-image{
    width: 50%;
}


.we-are-gamer-image img{
    width: 80%;
    height: 100%;
    display: block;
    margin: 0 auto;
    
}


.we-are-gamer-title{
    text-align: right;
    font-size: 2rem;
    font-weight: 700;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 15px;
}

#know-btn{
 background-color: #FF42A5;
 margin: 16px auto;

}

.purpose{

}

.purpose{
    font-size: 1em;
    font-weight: 500;
    margin-bottom: 7px;
}


.title{
    font-size: 1.2rem;
    font-weight: 700;
     
}



/* We are gamer section stop */












/* play instantly section start */



.play-instantly-section{
    min-height: 500px;
    background-color: rgba(255, 66, 165, 0.03);
    border: 2px solid #a713d4;


}

.play-instantly-container{
    display: flex;
    align-items: center;
    min-height: 200px;
    margin: 90px auto;
    max-width: 1440px;
    justify-content: center;
    border: 2px solid #F948B2;
    
}

.play-instantly-text{
    width: 50%;
    text-align: center;
    padding-left: 50px;
    padding-right: 123px;
    border: 2px solid #4b48f9;

     
}


.play-instantly-image{
    width: 50%;
    border: 2px solid #e96011;


}



.play-instantly-image img{
    width: 80%;
    height: 100%;
    display: block;
    margin: auto;
}


.play-instantly-title{
    


}



#know-btn{
 background-color: #FF42A5;

}

.purpose{

}


.title{
     
}



/* play instantly section stop */



/* main part stop */


















.hide{
    visibility: hidden;
}


/* #Responsive Media Query */

/* mobile view */

@media screen and (max-width: 576px) {

    .nav-container, .nav-items-container, .banner-container, .we-are-gamer-container{
        flex-direction: column;
    }

    .header-section {
        padding: 18px;
      }

    .nav-items-container{
        margin: 25px;
        gap: 30px;
    }


    .banner-image img {
        width: 100%;
        height: 100%;
        display: block;
        margin: 0 auto;
      }

      .banner-text {
        width: 100%;
        text-align: center;
        padding: 0;
      }

      .banner-title-two {
        font-size: 3rem;

    }


    .banner-title {
        font-size: 1.4rem;
    }

    .banner-image {
        width: 68%;
      }

    .we-are-gamer-image {
        width: 100%;
      }


      .we-are-gamer-text {
        width: 100%;
        padding: 20px;
        text-align: center;
      }

      .we-are-gamer-title {
        text-align: center;
      }


      .banner-text {
        background-position: center;
        background-size: 80%;
      }










      /* .feature-img-container{
        grid-template-columns: repeat(1, 1fr);
    }

    .teams-content, .facts-card-container{
        padding-left: 20px;
        padding-right: 20px;
        
        
    }

    .facts-card-container{
        gap: 20px;
    }

    .feature-img img{
        height: 40%;
        margin-left: 0;
     }

     .ten-years-badge{
        position: static;
     }


     .footer h6{
        text-align: center;
        padding: 15px 20px;
        background-color: #FFF4E7;
        border-radius: 8px;
        margin: 60px 20px;
    } */

    

        
    
}




/*Tablet or Medium Device View */
@media screen and (max-width: 960px) and (min-width: 576px) {
    .nav-container, .we-are-gamer-container{
        flex-direction: column;
    }

    .header-section {
        padding: 17px;
      }


      .banner-text {
        width: 50%;
        padding: 3px;
    }

    .banner-title {
        font-size: 1.5rem;
    }

    .banner-title-two {
        font-size: 3rem;

    }

    .we-are-gamer-image {
    width: 75%;
    }

    .we-are-gamer-title {
        text-align: center;
      }


      .we-are-gamer-text {
        width: 80%;
        padding-left: 50px;
        padding-right: 50px;
        text-align: center;

      }

      .banner-section {
        min-height: 262px;
      }


      


      /* .feature-img img{
        height: 90%;
        margin: 0 auto;
     }


     .footer h6{
        text-align: center;
        padding: 15px 20px;
        background-color: #FFF4E7;
        border-radius: 8px;
        margin: 60px 20px;
    } */

     




}











