/* Shared code part  */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;

}

.light-gray-description{
    color: #534C64;
    font-size: 0.80rem;
    font-weight: 400;  
}


/* header section start */

/* nav part */



.header-section{
    background-color: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    padding: 20px 200px;

}



.nav-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1440px;
    min-height: 50px;
}

.logo-container{
    display: flex;
    align-items: center;
    justify-content: center;
    /* width: 50%; */

}

.logo-container img{
    object-fit: cover;
    width: 60.041px;
  
}

.logo-container p{
    text-align: center;
    font-size: 2.8rem;
    font-weight: 700;
    }




.nav-items-container{
    /* width: 50%; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

 .g{
    color: #FF42A5;
}

.nav-items-container li{
    list-style: none;

}

.nav-items-container li a{
    text-decoration: none;
    color: #3C354F;
    text-align: center;
    font-size: 1rem;
    font-weight: 500;

}

.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background-color: rgba(11, 2, 35, 0.10);
    margin: 8px;
    padding: 8px 5px;
    
}

.icon svg{
    padding: 5px;
    margin-top: 5px;
    
}


/* Banner section start */ 

.icon-img{
    display: flex;
    justify-content: center;
    margin: 20px;
    
   
}

.banner-section{
    min-height: 468px;


}

.banner-container{
    display: flex;
    align-items: center;
    min-height: 200px;
    margin: 0 auto;
    max-width: 1440px;
    
}

.banner-text{
    width: 50%;
    text-align: center;
    padding: 80px 80px;
    background-image: url(./images/Group\ 14.png);
    background-repeat: no-repeat;
    background-position: left bottom top;
    background-size: 100%;
    background-position: left;
    /* border: 2px solid green; */
}


.banner-image{
    width: 50%;
}

.banner-image img{
    width: 70%;
    height: 100%;
    display: block;
    margin: 0 auto;
}


.banner-title{
    color: #0B0223;
    text-align: center;
    font-size: 2.4rem;
    font-weight: 600;
    text-transform: uppercase;

}


.banner-title-two{
    text-align: center;
    font-size: 5rem;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.icon-text{
    color: #534C64;
    text-align: center;
    font-size: 0.7rem;
    font-weight: 500;
    text-transform: lowercase;
    }


.sign-btn, .go-btn{
    display: inline-flex;
    padding: 11px 31px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 48px;
    background-color: #FF42A5;
    color: #FFF;
    font-size: 0.80rem;
    font-weight: 600;


}

.go-btn{
   
    background-color: #4EC5F7;
}






/* Banner section stop*/


/* header section stop */






/* main part start */

/* We are gamer section start */



.we-are-gamer-section{
    min-height: 500px;
    background-color: rgba(255, 66, 165, 0.03);
    min-height: 357px;
    margin: 0 auto;
    max-width: 1440px;

}

.we-are-gamer-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.we-are-gamer-text{
    width: 50%;
    padding-left: 50px;
    padding-right: 103px;
    text-align:right;  
    /* border: 2px solid crimson;  */
  
}

.we-are-gamer-image{
    width: 50%;
}


.we-are-gamer-image img{
    width: 80%;
    height: 100%;
    display: block;
    margin: 0 auto;
    
}


.we-are-gamer-title{
    text-align: right;
    font-size: 2rem;
    font-weight: 700;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 15px;
}

#know-btn{
 background-color: #FF42A5;
 margin: 16px auto;

}


.purpose{
    font-size: 1em;
    font-weight: 500;
    margin-bottom: 7px;
}


.title{
    font-size: 1.2rem;
    font-weight: 700;
     
}

/* We are gamer section stop */





/* Online Games Section Start */

.online-games-section{
    min-height: 400px;
    text-align: center;
    margin: 50px auto 0;
    max-width: 1440px;
    background: #FFF;

}

.online-games-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin: 40px auto;
    
}


.online-games-container .card{
    border-radius: 8px;
    text-align: center;
    margin: 0;
}



.card img{
    width: 80%;
    margin: 0 auto;
}


.card-description{
    text-align: center;
    margin: 10px 46px;
}

.online-games-section-title{
    text-align: center;
    color: #0B0223;
    font-size: 2rem;
    font-weight: 700;
    
}

.onlinegame-text{
    margin-top: 9px;
}



/*Online Games Section End */




/* play instantly section start */


.play-instantly-section{
    min-height: 333px;
    
    margin: 90px auto;
    max-width: 1440px;
    background: #FFF;

}

.play-instantly-container{
    display: flex;
    align-items: center;
    min-height: 200px;
    justify-content: center;
    
}

.play-instantly-text{
    width: 50%;
    text-align: left;
    padding-left: 181px;
    padding-right: 193px;
    
}

.play{
    text-align: left;

}


.play-instantly-image{
    width: 50%;
    position: relative;
}



.play-instantly-image img{
    width: 70%;
    height: 100%;
    display: block;
    margin: auto;
}


.mini-image{
    height: 40%;
    width: 30%;
    position: absolute;
    right: 3%;
    bottom: -12%;
}



/* play instantly section stop */




/* games button section start */

.games-button-section{
    min-height: 226px;
    margin: 20px auto;
    max-width: 1440px;
    background: #FFF;
}

.games-button-container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: space-between;

}


.strategy-games{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 12px;
    border-radius: 35px;
}

.game-text{
    text-align: center;
    margin: 10px 6px;
    color: #0B0223;
    font-size: 0.80rem;
    font-weight: 600;
    padding: 10px 0px;
  }

  .strategy-games img{
    width: 35px;
    height: 35px;
  }


  .strategy-games:hover{
    border: 1px solid #FF42A5;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
        animation-duration: 2s; 
  }



/* games button section stop */


/* main part stop */



/* footer section stop */

.footer-section{
    min-height: 400px;
    max-width: 1440px;
    margin: 0 auto;
    background-color: #0B0223;
    text-align: center;
    padding: 50px 30px 20px;
}

.footer-section div{
    margin: 20px;
}


.first-nav, .social-icon, .third-nav{
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.first-nav li{
    list-style: none;

}


.first-nav li a{
    color: #FFF;
    font-size: 0.8rem;
    font-weight: 600;
    text-decoration: none;
    margin: 20px;
  
}


.social-icon a{
    text-decoration: none;
    padding: 8px;
    margin: 10px;
    background-color: #534C64;
    border-radius: 50%;  
}

.social-icon a svg{
    font-size: 2rem;
    color: black;
    opacity: 0.9;

}

/* hover effect */

.social-icon a:hover{
    background-color: #0B0223;
    transition: 0.5s;
}

.social-icon a:hover svg{
    color: white;
    transition: 0.5s;
} 



.third-nav li{
    list-style: none;
   
}

.third-nav li a{
    color: rgba(255, 255, 255, 0.60);
    font-size: 0.7rem;
    font-weight: 500;
    text-decoration: none;
    margin: 20px;
}



.footer-bottom{
    color: rgba(255, 255, 255, 0.60);
    font-size: 0.7rem;
    font-weight: 500;
}


.white{
    color: #FFF;
}


/* footer section stop */

















/* #Responsive Media Query */

/* mobile view */

@media screen and (max-width: 576px) {

    .nav-container, .nav-items-container, .banner-container, .we-are-gamer-container, .play-instantly-container{
        flex-direction: column;
    }



    .header-section {
        padding: 18px;
      }

    .nav-items-container{
        margin: 25px;
        gap: 30px;
    }


    .banner-image img {
        width: 100%;
        height: 100%;
        display: block;
        margin: 0 auto;
      }

      .banner-text {
        width: 100%;
        text-align: center;
        padding: 0;
      }

      .banner-title-two {
        font-size: 3rem;

    }


    .banner-title {
        font-size: 1.4rem;
    }

    .banner-image {
        width: 68%;
      }

    .we-are-gamer-image {
        width: 100%;
      }


      .we-are-gamer-text {
        width: 100%;
        padding: 20px;
        text-align: center;
      }

      .we-are-gamer-title {
        text-align: center;
      }


      .banner-text {
        background-position: center;
        background-size: 80%;
      }

      .online-games-container{
        grid-template-columns: repeat(1,1fr);
        /* margin: 40px auto; */
        
    }

    .card-description {
        margin: 22px 46px;
      }

      .play-instantly-image {
        width: 100%;
      }

      .play {
        text-align: center;
        
      }

      .star{
        margin-top: 20px;
      }


      .play-instantly-text {
        width: 89%;
        text-align: center;
        padding-left: 0;
        padding-right: 0;
        margin-top: 45px;
      }


      .play-instantly-section {
        margin: 47px auto;

      }

      .games-button-container{
        grid-template-columns: repeat(3, 1fr);
    }

    .strategy-games {
        margin: 14px 0px;
    }

    .game-text {
        
        font-size: 0.60rem;
    }

    .play-instantly-section {
        min-height: 246px;

    }

    .first-nav, .social-icon, .third-nav{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        
    }

    .third-nav{
        grid-template-columns: repeat(2,1fr);
        margin: 20px 50px;
        padding: 30px 60px;
    }

    .social-icon a {
        text-decoration: none;
        padding: 6px;
        margin: 30px 56px;

    }

    .footer-section {
        padding: 50px 21px 20px;
    }

    .footer-section div {
        margin: 9px;
      }

    
       
        
        
   
    

        
    
}











/*Tablet or Medium Device View */
@media screen and (max-width: 960px) and (min-width: 576px) {
    .nav-container, .we-are-gamer-container{
        flex-direction: column;
    }

    .header-section {
        padding: 17px;
      }


      .banner-text {
        width: 50%;
        padding: 3px;
    }

    .banner-title {
        font-size: 1.5rem;
    }

    .banner-title-two {
        font-size: 3rem;

    }

    .we-are-gamer-image {
    width: 75%;
    }

    .we-are-gamer-title {
        text-align: center;
      }


      .we-are-gamer-text {
        width: 80%;
        padding-left: 50px;
        padding-right: 50px;
        text-align: center;

      }

      .banner-section {
        min-height: 262px;
      }


      .online-games-container{
        grid-template-columns: repeat(2,1fr);
        /* margin: 40px auto; */
        
    }

    .play-instantly-text {
        text-align: center;
        padding-left: 19px;
        padding-right: 19px;
      }

      .play-instantly-image {
        width: 45%;
      }

      .play {
        text-align: center;
      }

      .star{
        margin-top: 20px;
      }


      .play-instantly-section {
        margin: 58px auto;

      }

      .games-button-container{
        grid-template-columns: repeat(3, 1fr);
    }

    .play-instantly-section {
        min-height: 245px;
        
      }

      .strategy-games {
        margin: 20px 67px;

      }


      .footer-section {
        
        padding: 48px 0 20px;
      
      }


   

  
     




}











